:root {
  --main-color: #ff0505;
  --body-bg: #000000;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 1rem;

  --bgcolor-netflix: #ff0000;
  --bgcolor-prime-video: #0063ff;
  --bgcolor-disney: #0800ff;
  --bgcolor-HBO: #8200ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: 0;
}

body .background-fund {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: #000;
}

.onTop {
  background-color: transparent;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}

.nav button {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.name-app {
  background-image: url('/images/logo/name-app.png');
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 10%;
  height: 5vh;
}
  
.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu button {
  font-size: 3vh;
  font-weight: 400;
}

.nav-menu button:hover {
  opacity: 1;
}

.nav-menu button.btn:hover,
button.logo:hover,
button.movie-item:hover {
  color: unset;
}

.btn {
  color: var(--text-color);
  padding: 4% 4.5%;
  font-size: 100%;
  font-weight: 400;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  border-radius: 8em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.btn-login::before {
  background-color: transparent;
}

.btn-hover:hover::before {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn i {
  margin-right: 1rem;
}

.hamburger-menu {
  display: block;
}

#menu-left {
  display: none;
}

#nav-bottom {
  display: none;
}

.hero-slide-item {
  position: relative;
  overflow: hidden;
}

.gradient-featured-movie {
  background: rgba(0,0,0,);
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 40%, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gradient-featured-movie-left {
  background: rgba(0,0,0,);
  background-image: linear-gradient(to left,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 2%, #000 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.hero-slide-item .background-image-front {
  max-width: 55%;
  width: 100%;
  max-height: 70%;
  height: 100%;
  border-radius: 0.3em;
  position: absolute;
  top: 14%;
  left: 87%;
  transform: translateX(-87%);
  overflow: hidden;
  z-index: 4;
}

.hero-slide-item .background-image-front img {
  width: 100%;
  height: 100%;
}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wraper {
  padding-left: 5rem;
  padding-top: 5%;
  width: 40%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: relative;
}

.ands-the-app {
  display: none;
}

.item-content-title {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 900;
}

.item-content-title-two-destaque {
  font-size: 1.2rem;
}

.resolut {
  padding-top: 0.3%;
  padding-right: .5%;
  border: 2px solid rgba(231,231,231,0.506);
  border-radius: .3em;
  background-color: rgba(125,125,125,0.023);
}

.star {
  padding-top: 0.3%;
  padding-right: .5%;
  border: 2px solid rgba(231,231,231,0.506);
  border-radius: .3em;
  background-color: rgba(125,125,125,0.023);
}

.class1 {
  padding-top: 0.3%;
  padding-right: .5%;
  margin-left: 1rem;
  border: 2px solid #ff0000;
  border-radius: .3em;
  background-color: #ff0000;
}

.cards-movie-primary {
  width: 100%;
  position: relative;
  margin-top: -30%;
  left: 0;

}

.container .name-section {
  opacity: 0;
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) /2);
}

.movie-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.movie-info span {
  margin-left: 5px;
}

.movie-info i {
  color: var(--main-color);
}

.movie-info ~ .movie-info {
  margin-left: 5px;
}

.movie-item-content {
  width: 100%;
  height: 100%;
}

.item-content-description {
  font-size: .9rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-content-description-two-destaque {
  max-width: 72%;
  font-size: 0.9rem;
}

.item-action {
  margin-top: var(--space-top);
}

.carousel-nav-center {
  position: relative;
}

.carousel-nav-center .owl-nav button i {
  font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-nav-center .owl-nav img, .owl-next img {
  border: 1.8px solid var(--text-color);
  border-radius: 10em;
  padding: 10px;
}

.carousel-nav-center .owl-nav img:hover, .owl-next img:hover {
  background-color: rgba(0,0,0,0.474);
  border: 2.4px solid  rgba(0,0,0,0.474);
}

.carousel-nav-center .owl-nav .owl-prev {
  position: absolute;
  left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
  position: absolute;
  right: 5px;
}

.owl-nav button {
  border: none;
  outline: none;
}

.owl-nav button i {
  background-color: transparent;
  border-radius: 50%;
}

.owl-nav button:hover i {
  color: var(--text-color);
  transform: scale(1.2);
}

.top-down {
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-8 {
  transition-delay: 0.8s;
}

.owl-item.active .top-down {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.movie-item {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 140%;
  margin: 1%;
  cursor: pointer;
  border-radius: 0.3em;
  background-color: #1D1D1D;
}

.movie-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
}

.movie-item-title {
  color: var(--text-color);
  font-size: 1.2rem;
  position: relative;
  font-weight: 700;
}

.section {
  padding-top: 80px;
  background-color: #000;
}

.section-header {
  margin-bottom: 30px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 4px solid var(--main-color);
  display: flex;
  align-items: center;
}

.pricing-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing-box {
  padding: 50px;
  margin: 15px 0;
  background-color: var(--box-bg);
  border-top: 5px solid transparent;
  transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
  transform: translateY(-20px);
}

.pricing-box.hightlight {
  border-top: 5px solid var(--main-color);
}

.pricing-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.pricing-price {
  font-weight: 700;
}

.pricing-price span {
  font-size: 1rem;
}

.pricing-box-content {
  text-align: center;
  margin-top: 60px;
  font-size: 1.25rem;
}

.pricing-box-action {
  text-align: center;
  margin-top: 60px;
}

footer.section {
  margin-top: 0;
  padding-bottom: 80px;
  position: relative;
  background-color: var(--box-bg);
}

footer a:hover {
  color: var(--main-color);
}

footer a.logo {
  margin-top: -2.5rem;
  display: block;
}

footer a.logo:hover {
  color: unset;
}

.social-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-item {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--main-color);
}

.social-item:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.social-item ~ .social-item {
  margin-left: 20px;
}

footer .content {
  margin-top: 20px;
}

.footer-menu {
  list-style-type: none;
}

.footer-menu a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
  transform: translateX(5px);
}

.copyright {
  padding: 10px;
  border-top: 1px solid var(--body-bg);
  background-color: var(--box-bg);
  text-align: center;
}

/* PAGE FILM */
#page-film {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

  .gradient-featured-movie-page {
    background: rgba(0,0,0,);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 2%, #000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: 0;
  }
  
  #page-film .gradient-lock-screen-movie-top {
    background: rgba(0,0,0,);
    background-image: linear-gradient(to top,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 50%, #000 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    z-index: 10000;
  }
  
  #page-film .gradient-lock-screen-movie-bottom {
    background: rgba(0,0,0);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 50%, rgba(0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    z-index: 10000;
  }
  
  #page-film .gradient-lock-screen-movie-top, .gradient-lock-screen-movie-bottom {
    display: none;
  }

  #page-film .button-back-page-movie {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: none;
    padding: 0rem;
    border: none;
    z-index: 300;

    -webkit-transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
    transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
  }

  #page-film .button-back-page-movie .bx-arrow-back {
    font-size: 2.1rem;
    color: #fff;
   
    -webkit-transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
    transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
  }
  
  #page-film .button-back-page-movie:hover {
    transform: scale(1.2);
  }
  
  #page-film .button-lock-screen-page-movie {
    display: none;
    position: relative;
    top: 80vh;
    left: 45%;
    background-color: var(--text-color);
    box-shadow: -0.2px -0.2px 8px #000;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border: 0;
    border-left: none;
    z-index: 300000;
    transform: scale(1.4);

    -webkit-transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
    transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
  }

  #page-film .button-lock-screen-page-movie img {
    width: 1.2rem;
    height: 1.2rem;
   
    -webkit-transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
    transition: 0.1s left,0.1s width,0.1s opacity,0.1s;
  }
  
  #page-film .button-on-lock-screen-iframe {
    left: 44%;
    background-color: #fff;
    border-radius: 8em;
  }
  
  #page-film .button-off-lock-screen-iframe {
    border-radius: 8em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 2rem;
  }
  
  .section-info-film .informations-left {
    position: absolute;
    padding-top: 12.6%;
    padding-left: 4.2%;
    color: var(--text-color);
    z-index: 200;
  }

  .section-info-film .informations-left .type {
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    border-bottom: 4px solid #ffa200;
    padding: 0;
    margin-bottom: 1.2rem;
    width: 4%;
  }

  .section-info-film .informations-left .movie-homepage-title {
    font-size: 3.7rem;
    font-family: Comic Sans MS;
    margin-bottom: 0.4rem;
  }

  .section-info-film .informations-left .ifo {
    font-weight: 900;
    margin-bottom: 0.6rem;
  }

  .section-info-film .informations-left .infos {
    margin-right: 1.2rem;
  }

  .section-info-film .informations-left .date, .seasons-on-minutes {
    font-weight: 450;
    opacity: 0.8;
  }

  .section-info-film .informations-left .relevanse {
    color: #38e700;
  }

  .section-info-film .informations-left .quality {
    background-color: #b5b5b5;
    color: #000000;
    opacity: 0.8;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .3em;
  }

  .section-info-film .informations-left .title-info-informations {
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffa200;
    margin-bottom: .3rem;
  }

  .section-info-film .informations-left .name-if {
    margin-bottom: .5rem;
  }

  .section-info-film .informations-left .title-film-two {
    font-size: 1.8rem;
    color: red;
  }

  .section-info-film .informations-left .synopsis-of-the-film {
    max-width: 48%;
  }

  .section-info-film .movies-slide {
    position: absolute;
    top: 22rem;
  }

  .section-info-film .bx-button-play {
    position: absolute;
    top: 42.2%;
    left: 80%;
    transform: translateX(-80%);
    width: 10rem;
    height: 10rem;
    background: none;
    border-radius: 50%;
    border: 5.4px solid #fff;
  }
  
  .section-info-film .bx-button-play i {
    font-size: 7rem;
    color: var(--text-color);
  }

  .iframe {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100vh;
  }
  

/* RESPONSIVE */

@media only screen and (min-width: 1100px) {

  .nav-wrapper {
    display: none;
  }
  
  .hero-slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  #menu-left {
    display: block;
    padding-top: 12.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 9.3%;
    height: 100vh;
    background: rgba(0,0,0,);
    background-image: linear-gradient(to left,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 1%, #000 100%);
    z-index: 200;
  }

  #menu-left .option {
    width: 4.2rem;
    height: 4.2rem;
    padding: 1.2rem;
    z-index: 200;
  }

  #menu-left .option button {
    background-color: transparent;
    border: 0;
    z-index: 200;
  }

  #menu-left .option button img {
    width: 100%;
    height: 100%;
    z-index: 200;
  }

  #menu-left .subMenu {
    padding-top: 12.5rem;
    background: rgba(0,0,0,);
    background-image: linear-gradient(to left,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 1%, #000 100%);
    opacity: 0;
    position: fixed;
    top: 0;
    left: -70vh;
    width: 68vh;
    height: 100vh;
    z-index: -100;

    -webkit-transition: 0.7s left,0.7s width,0.7s opacity,0.7s;
    transition: 0.7s left,0.7s width,0.7s opacity,0.7s;
  }

  #menu-left:hover .subMenu {
    opacity: 1;
    left: 0;
  }

  #menu-left .subMenu .option {
    margin-left: 5rem;
  }

  .item-content-wraper1 {
    padding-left: 8rem;
    padding-top: 3rem;
  }

  .item-content-wraper2 {
    padding-left: 8rem;
    padding-top: 9rem;
  }

  .item-content-title1 {
    font-size: 4.4rem;
    line-height: 5rem;
    font-weight: 900;
  }

  .item-content-description {
    font-size: 1.3rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
  }
  
  .section {
    background: none;
  }
  
  /* Animação */
  
  [data-anime] {
   opacity: 1;
   transition: 0.1s;
  }
  
  [data-anime="top"] {
   transform: translate3d(0, -50px, 0);
  }
  
  [data-anime].animate {
   opacity: 0;
   z-index: -20000;
   transform: translate3d(0px, 0px, 0px);
  }

  .cards-movie-primary {
    position: relative;
    margin-top: 39vh;
  }
  
  .display-in-tv-none {
    display: none;
  }
  
  body .background-fund {
    display: none;
  }

  .container .section-header {
    display: none;
  }

  .carousel-nav-center .owl-nav .owl-prev {
    display: none;
  }

  .movies-slide .owl-nav .owl-prev {
    display: block;
    left: 7rem;
  }

  .movie-item:hover { 
    border: 2px solid  var(--text-color);
  }
  
  .movie-item .movie-info {
    display: none;
  }
  
  .movie-item-title {
    display: none;
  }
  
  
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 14px;
  }

  .hero-slide-item {
    padding-top: 50%;
  }

  .item-content-wraper {
    width: 50%;
  }

}

@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }

  .logo {
    margin-left: 40%;
  }
  
  .name-app {
    width: 17%;
  }
  
  body .background-fund {
    display: none;
  }
  
  .ands-the-app {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 20%;
    margin-bottom: 5%;
    z-index: 100;
  }
  
  .ands-the-app .button-icon-app {
    background-image: url('/images/logo/icon-app.png');
    background-position: center;
    background-size: cover;
    box-shadow: 2px 2px 4px #000000;
    width: 60px;
    height: 60px;
    border: 0; 
    border-radius: 0.8em;
  }
  
  .ands-the-app .button-and-quality {
    border: 1.4px solid var(--text-color);
    border-radius: 0.4em;
    background-color: transparent;
    color: var(--text-color);
    width: 13rem;
    height: 4rem;
    text-align: center;
    align-content: center;
    margin: 0.7rem;
  }
  
  .ands-the-app .button-and-quality h4 {
    position: relative;
    text-align: left;
    padding-left: 4rem;
  }
  
  .ands-the-app .button-and-quality .bx {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 1rem;
  }
  
  .ands-the-app h2 {
    margin: 0.8rem;
    font-size: 2rem;
  }
  
  #nav-bottom {
    display: block;
    position: fixed;
    top: auto;
    bottom: 1rem;
    width: 92%;
    height: 6rem;
    border-radius: 0.8em;
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-left: 4%;
    margin-right: 4%;
    background-color: #1D1D1D;
    text-align: center;
    z-index: 2000;
  }

  #nav-bottom button {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    opacity: 0.7;
    border: none;
    margin: 0;
    width: 19%;
    height: auto;
  }

  #nav-bottom button img {
    width: 20%;
    height: 20%;
  }

  .cards-movie-primary {
    margin-top: 0;

  }

  .carousel-nav-center .owl-nav .owl-prev, .owl-next {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  .hero-slide-item {
    height: max-content;
    padding-top: unset;
  }
  
  .btn {
    margin: 0;
  }

  .item-content-wraper-slide-one{
    display: none;
  }
  
  .item-content-wraper-slide-two, .item-content-wraper-slide-tree {
    padding-top: 14rem;
    width: 90%;
    text-align: center;
  }
  
  .item-content-wraper-slide-two .movie-infos .bxs-star {
    margin-left: 17.1%;
    
  }
  
  .item-content-wraper-slide-tree .movie-infos .bxs-star {
    margin-left: 17.1%;
    
  }
  
  .item-content-wraper-slide-two .item-content-description {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  
  .item-content-wraper-slide-tree .item-content-description {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  
  .item-content-wraper2 {
    padding-left: 5rem;
    padding-top: 6.2rem;
    width: 80%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: top;
    position: relative;
  }

  .hero-slide-item-content {
    position: relative;
    height: 62vh;
  }

  .hero-slide-item-content2 {
    position: relative;
    height: 38vh;
  }

  .container .section-header {
    display: block;
  }

  .container .name-section {
    opacity: 1;
  }

  .hero-slide-item img {
    height: 100%;
  }

  .item-content-title {
    font-size: 3rem;
  }

  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: -100%;
    background: rgba(0,0,0,);
    background-image: linear-gradient(to left,rgba(0,0,0,0.0) 0, rgba(0, 0, 0 , 0) 1%, #0F0F0F 100%);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
    z-index: 10000;
  }

  .nav-menu li {
    margin: 10px 30px;
    margin-top: 10%;
  }

  .nav-menu li a {
    background-color: transparent;
    color: var(--text-color);
    border-radius: 8em;
    padding: 2vh;
  }

  .nav-menu li .optionDs {
    background-color: transparent;
    color: var(--text-color);
    border-radius: 8em;
    padding: 2vh;
  }

  .nav-menu.active {
    left: 0;
  }

  .hero-slide-item .background-image-front {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border-radius: 0.3em;
    position: absolute;
    top: 0;
    left: 95%;
    transform: translateX(-95%);
    z-index: -1;
  }
  
  .section-info-film .informations-left {
    padding-top: 20rem;
  }
  
  .section-info-film .informations-left .synopsis-of-the-film {
    max-width: 84%;
  }
  
  .section-info-film .bx-button-play {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 8rem;
    background: none;
    border-radius: 50%;
    border: 5.4px solid #fff;
  }
  
  .gradient-featured-movie-page {
    width: 100%;
    height: 35vh;
  }
  
  .button-back-iframe, .button-lock-screen-page-movie, .iframe {
    opacity: 0;
    z-index: -900000;
  }
  

}